@import url("https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");

@font-face {
  font-family: "Museo";
  font-display: swap;
  src: url("../fonts/Museo_Slab_500.woff") format("woff"), url("../fonts/Museo_Slab_500.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Raleway";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Raleway";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

body._lock {
  overflow: hidden;
}

._no-webp .header{
  background: url("../img/headerbg.jpg") no-repeat left bottom/cover; }

.header {
  padding: 43px 0 40px 0;
  min-height: 100vh;
}

.row-header {
  margin-bottom: 261px;
  padding-bottom: 38px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row-header__burger {
  display: none;
  width: 30px;
  height: 20px;
  z-index: 10;
  position: relative;
}

.row-header__burger div {
  position: absolute;
  top: 9px;
  background-color: white;
  width: 100%;
  height: 2px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.row-header__burger:after,
.row-header__burger:before {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  background-color: white;
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  position: absolute;
}

.row-header__burger:after {
  bottom: 0;
}

.row-header__burger:before {
  top: 0;
}

.row-header__burger._active:before {
  top: 9px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.row-header__burger._active:after {
  bottom: 9px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.row-header__burger._active div {
  opacity: 0;
}

.row-header__logo img {
  max-width: 100%;
}

.row-header__menu ul {
  padding-right: 7px;
  margin: 0 -19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row-header__menu li {
  padding: 0 19px;
}

.row-header__menu a {
  font-size: 17px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

.row-header__menu #login {
  margin-left: -5px;
  letter-spacing: 1.7px;
  padding: 19px 22px 19px 31px;
  border-radius: 10px;
  background-color: rgba(71, 158, 225, 0.8);
}

.content-header {
  max-width: 509px;
}

.content-header__heading {
  margin-bottom: 65px;
}

.content-header__heading h1 {
  margin-bottom: 27px;
  color: #fffefe;
  font-family: "Museo";
  text-transform: uppercase;
  font-size: 40px;
}

.content-header__heading h1 span {
  z-index: 0;
  position: relative;
  bottom: 4px;
  margin: 0 21px;
}

.content-header__heading p {
  line-height: 40px;
  font-weight: 500;
  font-size: 26px;
  color: #fefefe;
}

.header-buttons {
  font-weight: 700;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-buttons__google,
.header-buttons__learn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 240px;
  height: 80px;
  border-radius: 10px;
}

.header-buttons__google {
  color: #3e3e3e;
  -webkit-box-shadow: 0 8px 11px rgba(54, 54, 54, 0.15);
          box-shadow: 0 8px 11px rgba(54, 54, 54, 0.15);
  background-color: #ffffff;
}

.header-buttons__google img {
  margin-right: 20px;
}

.header-buttons__learn {
  background-color: rgba(72, 148, 206, 0.7);
  color: white;
}

.services {
  padding: 96px 0 169px 0;
}

.heading {
  text-align: center;
  font-family: "Roboto Slab";
}

.heading__over {
  margin-bottom: 13px;
  color: #7c7c7c;
  font-size: 18px;
}

.heading__heading {
  margin-bottom: 21px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: #494949;
  font-size: 24px;
  font-weight: bold;
}

.heading__under {
  margin: 0 auto;
  width: 30px;
  height: 2px;
  background-color: #2eb0ec;
}

.heading-services {
  margin-bottom: 85px;
}

.content-services {
  margin: 0 -16px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-services__column {
  text-align: center;
}

.content-services__img {
  margin-bottom: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 106px;
}

.content-services__img img {
  max-width: 100%;
}

.content-services__heading {
  margin-bottom: 28px;
  color: #494949;
  font-size: 18px;
  font-weight: 700;
}

.content-services__desc {
  padding: 0 10px;
  max-width: 320px;
  color: #7c7c7c;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
}

._no-webp .features{
  background: url("../img/featuresbg.jpg") no-repeat center top/cover; }

.features {
  padding: 138px 33px 187px 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left-features {
  position: relative;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.left-features__img img {
  top: -20px;
  right: 100px;
  position: absolute;
}

.right-features {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  position: relative;
  left: 13px;
}

.right-features__over {
  margin-bottom: 20px;
  opacity: 0.4;
  color: #494949;
  font-size: 22px;
  font-weight: 700;
}

.right-features__heading {
  letter-spacing: -0.27px;
  margin-bottom: 24px;
  color: #494949;
  font-size: 32px;
  font-weight: 700;
}

.right-features__under {
  line-height: 32px;
  max-width: 510px;
  margin-bottom: 59px;
  color: #7c7c7c;
  font-size: 20px;
  font-weight: 500;
}

.right-features ul {
  margin-bottom: 51px;
}

.right-features ul li {
  margin-bottom: 18.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  position: relative;
  color: #7c7c7c;
  font-size: 14px;
  font-weight: 500;
}

.right-features ul li span {
  padding-top: 4px;
}

.right-features ul li:before,
.right-features ul li:after {
  border-radius: 50%;
  content: "";
  display: inline-block;
}

.right-features ul li:before {
  margin-right: 21px;
  min-width: 20px;
  height: 20px;
  background-color: #96dbef;
  opacity: 0.5;
}

.right-features ul li:after {
  left: 4px;
  top: 4px;
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #66d4f4;
}

.right-features__button {
  letter-spacing: 1.4px;
  margin-left: 5px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 150px;
  line-height: 50px;
  -webkit-box-shadow: 0 10px 16px rgba(102, 212, 244, 0.3);
          box-shadow: 0 10px 16px rgba(102, 212, 244, 0.3);
  border-radius: 25px;
  background-color: #66d4f4;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
}

.other {
  padding: 52px 0 117px 0;
}

.other__heading {
  margin-bottom: 104px;
}

.content-other {
  margin: 0 -63px 0 -63px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content-other__column {
  padding: 0 63px 89px 63px;
}

.content-other__heading {
  height: 54px;
  color: #494949;
  font-size: 18px;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.content-other__heading img {
  margin-right: 20px;
}

.content-other__desc {
  padding-left: 3px;
  color: #7c7c7c;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  max-width: 253px;
}

._no-webp .customer{
  background: url("../img/customerbg.jpg") no-repeat center top/cover; }

.customer {
  padding: 47px 0 107px 0;
}

.customer__heading {
  margin-bottom: 118px;
}

.slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider:after,
.slider:before {
  position: absolute;
  display: block;
  content: "";
  -webkit-box-shadow: 0 0 38px rgba(0, 0, 0, 0.11);
          box-shadow: 0 0 38px rgba(0, 0, 0, 0.11);
  border-radius: 10px;
  background-color: #ffffff;
}

.slider:after {
  top: 22px;
  width: 790px;
  height: 309px;
  opacity: 0.8;
}

.slider:before {
  top: 48px;
  width: 843px;
  height: 257px;
  opacity: 0.6;
}

.slider__bg {
  margin-bottom: 37px;
  z-index: 5;
  width: 730px;
  height: 351px;
  -webkit-box-shadow: 0 0 51px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 51px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
}

.slider-content {
  margin: 0 auto;
  width: 610px;
  overflow: hidden;
  position: relative;
  top: -46px;
  text-align: center;
}

.slider-row {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-page {
  -webkit-transform: translate(0px);
      -ms-transform: translate(0px);
          transform: translate(0px);
  margin: 0 20px;
  min-width: 571px;
}

.slider-page__img {
  margin-bottom: 16px;
}

.slider-page__heading {
  margin-bottom: 4px;
  color: #494949;
  font-size: 20px;
  font-weight: 700;
}

.slider-page__under {
  margin-bottom: 37px;
  color: #7c7c7c;
  font-size: 15px;
  font-weight: 500;
}

.slider-page__desc {
  color: #7c7c7c;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}

.slider-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  right: 17px;
}

.slider-control__left {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-control__left img {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slider-control__text {
  font-size: 18px;
  font-weight: 700;
  margin: 2px 15px 0 15px;
}

.slider-control__right {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-control__left._passive,
.slider-control__right._passive {
  opacity: 0.5;
}

.resourse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 162px 10px 149px 10px;
}

.resourse__left {
  margin-right: 75px;
  position: relative;
  right: 28px;
  max-width: 447px;
}

.resourse__over {
  margin: 0px 0 21px 0;
  opacity: 0.4;
  color: #494949;
  font-weight: 700;
  font-size: 22px;
}

.resourse__heading {
  margin-bottom: 24px;
  color: #494949;
  font-weight: 700;
  font-size: 32px;
}

.resourse__under {
  margin-bottom: 30px;
  line-height: 32px;
  color: #7c7c7c;
  font-size: 20px;
  font-weight: 500;
}

.resourse__text {
  color: #7c7c7c;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
}

.resourse__right img {
  max-width: 100%;
}

.price {
  padding: 66px 10px 151px 10px;
  position: relative;
  background-color: #f4fbfc;
}

.price__img {
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.price__heading {
  margin-bottom: 124px;
}

.price__plans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.plan {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 45px 0 0 0;
  margin: 0 30px;
  width: 320px;
  height: 581px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.04);
  text-align: center;
  position: relative;
  background-color: white;
}

.plan * {
  z-index: 5;
}

.plan__bg {
  max-width: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.plan__img {
  margin-bottom: 58px;
  height: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plan__img img {
  max-width: 100%;
}

.plan__heading {
  color: #494949;
  font-size: 16px;
  font-weight: 700;
}

.plan__price {
  margin-bottom: 43px;
  right: 2.5px;
  position: relative;
  display: inline-block;
  background: -o-linear-gradient(56deg, #6af4f9 0%, #2eb0ec 100%);
  background: linear-gradient(34deg, #6af4f9 0%, #2eb0ec 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #2eb0ec;
  font-size: 72px;
  font-weight: 800;
}

.plan__price:before {
  left: -15px;
  top: 20px;
  content: "$";
}

.plan__price:after {
  bottom: 0;
  content: "/mo";
}

.plan__price:after,
.plan__price:before {
  position: absolute;
  -webkit-text-fill-color: #2eb0ec;
  font-size: 22px;
  font-weight: 500;
}

.plan__desc {
  margin-bottom: 49px;
}

.plan__desc li {
  color: #7c7c7c;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 18.5px;
}

.plan__desc li._passive {
  color: #bebebe;
}

.plan__button {
  letter-spacing: 1.4px;
  text-transform: uppercase;
  display: inline-block;
  width: 150px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #66d4f4;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
}

.plan:hover {
  -webkit-box-shadow: 0 0 51px rgba(92, 149, 161, 0.33);
          box-shadow: 0 0 51px rgba(92, 149, 161, 0.33);
  -webkit-transform: scale(1.09);
      -ms-transform: scale(1.09);
          transform: scale(1.09);
}

.subscribe {
  padding: 67px 10px 85px 10px;
}

.subscribe__heading {
  margin-bottom: 66px;
}

.subscribe__form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe input,
.subscribe__button {
  margin-bottom: 26px;
  text-align: center;
  width: 370px;
  height: 75px;
  border-radius: 38px;
  font-size: 14px;
  font-weight: 700;
}

.subscribe input::-webkit-input-placeholder {
  opacity: 0.35;
  color: #505050;
  font-size: 14px;
  font-weight: 700;
}

.subscribe input::-moz-placeholder {
  opacity: 0.35;
  color: #505050;
  font-size: 14px;
  font-weight: 700;
}

.subscribe input:-ms-input-placeholder {
  opacity: 0.35;
  color: #505050;
  font-size: 14px;
  font-weight: 700;
}

.subscribe input::-ms-input-placeholder {
  opacity: 0.35;
  color: #505050;
  font-size: 14px;
  font-weight: 700;
}

.subscribe input::placeholder {
  opacity: 0.35;
  color: #505050;
  font-size: 14px;
  font-weight: 700;
}

.subscribe__name {
  -webkit-box-shadow: 0 8px 16px rgba(92, 149, 161, 0.07);
          box-shadow: 0 8px 16px rgba(92, 149, 161, 0.07);
  border: 1px solid rgba(0, 0, 0, 0.03);
  background-color: #ffffff;
  color: #7c7c7c;
}

.subscribe__email {
  background-color: #f5fafa;
}

.subscribe__button {
  text-transform: uppercase;
  -webkit-box-shadow: 0 10px 16px rgba(102, 212, 244, 0.3);
          box-shadow: 0 10px 16px rgba(102, 212, 244, 0.3);
  background-color: #66d4f4;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 1.47px;
}

.footer {
  padding-bottom: 41px;
}

.footer__line {
  margin: 0 auto;
  max-width: 1170px;
  height: 1px;
  background-color: #dfdfdf;
}

.footer__over {
  margin-top: 51px;
  margin-bottom: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-flaby {
  margin-right: 114px;
  margin-top: 8px;
}

.footer-flaby__img {
  margin-bottom: 16px;
}

.footer-flaby__img img {
  max-width: 100%;
}

.footer-flaby__text {
  margin-bottom: 18px;
  max-width: 210px;
  color: #7c7c7c;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
}

.footer-flaby__icons {
  margin: 0 -2.5px;
}

.footer-flaby__icons a {
  margin: 0 2.5px;
}

.footer-colums {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-colums__item {
  -ms-flex-preferred-size: 220px;
      flex-basis: 220px;
}

.footer-colums__item:last-child {
  -ms-flex-preferred-size: 130px;
      flex-basis: 130px;
}

.footer-colums__heading {
  color: #494949;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 42px;
}

.footer-colums__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.footer-colums__href {
  margin-bottom: 14px;
  color: #7c7c7c;
  font-size: 14px;
  font-weight: 500;
}

.footer-under {
  margin-top: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-under__text {
  color: #7c7c7c;
  font-size: 14px;
  font-weight: 500;
}

.footer-under__text span {
  font-weight: 800;
}

.footer-under__line {
  margin: 0 19px;
  width: 1px;
  height: 22px;
  background-color: #7c7c7c;
}

@media (max-width: 1236px) {
  .content-other {
    margin: 0;
  }

  .content-other__column {
    padding: 0 55px 89px 55px;
  }
}

@media (max-width: 1136px) {
  .resourse__left {
    right: 0;
  }
}

@media (max-width: 1122px) {
  .container {
    max-width: 970px;
  }

  .footer-flaby {
    margin-right: 20px;
  }

  .footer-colums {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer-colums__item {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }

  .row-header {
    margin-bottom: 100px;
  }

  .row-header__burger {
    display: block;
  }

  .row-header__menu {
    overflow: auto;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 5;
    background-color: rgba(66, 168, 246, 0.9);
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: -120%;
  }

  .row-header__menu ul {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .row-header__menu li {
    margin: 40px 0 0 20px;
  }

  .row-header__menu._active {
    left: 0;
  }

  .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .left-features__img img {
    max-width: 100%;
    position: static;
  }

  .right-features__button {
    margin-bottom: 40px;
  }

  .resourse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .resourse__left {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

@media (max-width: 872px) {
  .customer {
    padding: 47px 10px 107px 10px;
  }

  .slider:after,
  .slider:before {
    display: none;
  }

  .slider__bg {
    width: auto;
    height: auto;
  }
}

@media (max-width: 800px) {
  .plan {
    margin: 0 10px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

@media (max-width: 753px) {
  .footer__over {
    margin-bottom: 0px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer-flaby {
    margin-top: 0px;
  }

  .footer-colums {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer-colums__heading {
    position: relative;
    padding: 7px 0 7px 10px;
    border-radius: 8px;
    width: 180px;
    display: inline-block;
    font-size: 20px;
    background-color: #d7d7d7;
    margin-bottom: 10px;
  }

  .footer-colums__heading:before,
  .footer-colums__heading:after {
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    content: '';
    position: absolute;
    height: 2px;
    width: 18px;
    background-color: #494949;
  }

  .footer-colums__heading:after {
    top: 16px;
    right: 18px;
    -webkit-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
            transform: rotate(40deg);
  }

  .footer-colums__heading:before {
    top: 16px;
    right: 4px;
    -webkit-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }

  .footer-colums__heading._active:after {
    -webkit-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }

  .footer-colums__heading._active:before {
    -webkit-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
            transform: rotate(40deg);
  }

  .footer-colums__list {
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    overflow: hidden;
    max-height: 0;
  }

  .footer-colums__list._active {
    max-height: 150px;
  }
}

@media (max-width: 746px) {
  .other {
    padding: 52px 0 70px 0;
  }

  .other__heading {
    margin-bottom: 60px;
  }

  .content-other__column {
    padding: 0 55px 30px 55px;
  }
}

@media (max-width: 664px) {
  .services {
    padding: 60px 0 80px;
  }

  .heading-services {
    margin-bottom: 40px;
  }

  .content-services {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .content-services__column {
    margin-bottom: 30px;
  }

  .content-services__img {
    height: auto;
    margin-bottom: 20px;
  }

  .content-services__heading {
    margin-bottom: 12px;
  }

  .content-services__desc {
    padding: 0;
  }
}

@media (max-width: 658px) {
  .price {
    padding: 50px 10px 50px 10px;
  }

  .price__plans {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .price__heading {
    margin-bottom: 40px;
  }

  .plan {
    width: 300px;
    margin: 0;
    margin-bottom: 30px;
  }
}

@media (max-width: 647px) {
  .slider-content {
    width: 460px;
  }

  .slider-page {
    min-width: 420px;
  }
}

@media (max-width: 485px) {
  .customer {
    padding: 40px 10px 80px 10px;
  }

  .customer__heading {
    margin-bottom: 80px;
  }

  .slider-content {
    width: 310px;
  }

  .slider-page {
    min-width: 270px;
  }

  .slider-page__desc {
    font-size: 16px;
  }
}

@media (max-width: 479.98px) {
  .content-header__heading {
    margin-bottom: 30px;
  }

  .content-header h1 {
    font-size: 29px;
  }

  .content-header h1 span {
    margin: 0 6px;
  }

  .content-header p {
    font-size: 21px;
  }

  .header-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header-buttons__google {
    margin-bottom: 20px;
  }

  .features {
    padding: 60px 0px 60px 0px;
  }

  .right-features {
    padding: 0 10px;
    left: 0;
  }

  .right-features__over {
    margin-bottom: 18px;
    font-size: 20px;
  }

  .right-features__heading {
    margin-bottom: 22px;
    font-size: 26px;
  }

  .right-features__under {
    margin-bottom: 30px;
    font-size: 18px;
  }
}

@media (max-width: 386px) {
  .footer__over {
    padding-left: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer-flaby {
    margin-bottom: 30px;
  }
}

@media (max-width: 380px) {
  .subscribe input,
  .subscribe__button {
    width: 300px;
  }
}

._webp .header{ background: url(../img/headerbg.webp) no-repeat left bottom/cover; }

._webp .features{ background: url(../img/featuresbg.webp) no-repeat center top/cover; }

._webp .customer{ background: url(../img/customerbg.webp) no-repeat center top/cover; }